<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer Management</title>
    <th:block th:insert="~{fragments/header :: link}"></th:block>
    <th:block th:insert="~{fragments/header :: head/script}"></th:block>

</head>
<body>
<div>
    <div th:insert="~{fragments/header :: menu}"></div>
    <div class="container">
        <div class="row my-4">
            <div class="col-md-2">
                <a th:href="@{/customers/create}" class="btn btn-primary">+ New Customer</a>
            </div>
            <div class="col-md-4">
                <form method="GET" th:action="@{/customers/search}">
                    <div class="form-group row">
                        <div class="col-md-8">
                            <input type="text" name="query" th:value="${query}" class="form-control"/>
                        </div>
                        <div class="col-md-4">
                            <button type='submit' class="btn btn-success">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <form method="GET" th:action="@{/customers/export/excel}">
                    <input type="hidden" th:value="${query}" name="query"/>
                    <button type='submit' class="btn btn-success">Export To Excel</button>
                </form>
            </div>
            <div class="col-md-2">
                <form method="GET" th:action="@{/customers/export/pdf}">
                    <input type="hidden" th:value="${query}" name="query"/>
                    <button type='submit' class="btn btn-success">Export To Pdf</button>
                </form>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-12">
                <table class="table table-striped" id="customer_table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cmnd</th>
                        <th>Birthday</th>
                        <th>Household</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.name}">Name</td>
                        <td th:text="${customer.cmnd}">Cmnd</td>
                        <td th:text="${customer.birthday}">Birthday</td>
                        <td th:text="${customer.household}">Household</td>
                        <td th:text="${customer.phone}">Phone</td>
                        <td th:text="${customer.address}">Address</td>
                        <td><a th:href="@{/customers/edit/{id}(id=${customer.id})}">Edit</a> | <a th:href="@{/customers/delete/{id}(id=${customer.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

</body>
</html>